
/* параметры вообще для всего */
*{
\\    font-family: iosevka;  \\CHANGE FONT
}

/* параметры для окна */
window {
    background-color: #2e3440;
}

/* параметры для окна ввода */
#input {
    margin: -9px -30px;
    border-radius: 0px;
    border: none;
    background-color: #2e3440;
    color: white;
}

/* параметры для окна с приложениями */
#inner-box {
    background-color: #2e3440;
    margin: 0px;
    padding: 0px;
}

/* параметры пространства вокруг окна wofi */
#outer-box {
    margin: 20px 20px;
    padding: 0px;
    background-color: #2e3440;
}

/* параметры для полосы прокрутки */
#scroll {
}

/* параметры для текста */
#text {
    padding: 5px;
    color: white;
    margin: 0px 0px;
}

/* параметры для 2й колонки если таковая имеется */
#entry:nth-child(even){
    background-color: #23252e;
}

/* параметры для выделенного пункта */
#entry:selected {
    background-color: #7b99b7;
    font-color: #23252e;
}

/* параметры выделенного текста */
#text:selected {
    color: #23252e;
    padding: 5px;
}

/* параметры для иконок */
#img

/* параметры для не выделенного */
#unselected

